
<section class="section">
    <div class="card">
        <img src="../../layout/imagenes/bigbanf.jpg" alt="">
        <h2>BingBang</h2>
        <p>pelicula 1 descripción</p>
    </div>

    <div class="card">
        <img src="src/app/components/layout/imagenes/Blac widow.png" alt="">
        <h2>Blac widow</h2>
        <p>pelicula 2 descripción</p>
    </div>

    <div class="card">
         <img src="src/app/components/layout/imagenes/friends.png" alt="">
        <h2>friends</h2>
        <p>pelicula 3 descripcion</p>
    </div>

    <div class="card">
         <img src="src/app/components/layout/imagenes/la casa de papel.png" alt="">
        <h2>la casa de papel</h2>
        <p>peloicula 4 descripcion</p>
    </div>

    <div class="card">
        <img src="src/app/components/layout/imagenes/LOKI.png" alt="">
        <h2>Loki</h2>
        <p>peicula 5 descripción</p>
    </div>

    <div class="card">
        <img src="src/app/components/layout/imagenes/met.png" alt="">
        <h2>met</h2>
        <p>pelcila 6 descripción</p>
    </div>

    <div class="card">
        <img src="src/app/components/layout/imagenes/two.png" alt="">
        <h2>two</h2>
        <p>pelicula 7 descripcion</p>
    </div>

    <div class="card">
        <img src="src/app/components/layout/imagenes/xin xhao.png" alt="">
        <h2>xin xhao</h2>
        <p>pelciual 8 descriocion</p>
    </div>






</section>